<!doctype html>
    <head>
        <link rel="stylesheet" href="../css/main.css" >
    </head>
    <body>
        <section class="main">
            <h1>What are Tech Evenings?</h1>
            <p>Coming soon.</p>
        </section>
    </body>
</html>